accelerate==1.8.1
pyspark==3.5.0
polars==0.20.10
pyarrow>=14
pandas>=2
mlflow==3.1.0
scikit-uplift==0.5.1
pre-commit==4.2.0
torchinfo
betacal
torch==2.9.0
numpy<2
catboost==1.2.10
hydra-core==1.3.5
omegaconf==2.3.1
pynvml==13.0.1
rtdl_num_embeddings==0.0.12
transformers==5.16.1
xxhash==4.0.1
pytest==9.1.1
pytest-cov==7.1.0
pytorch-lifestream==0.7.0